section#about.page-section
  .container
    .text-center
      h2.section-heading.text-uppercase About
      h3.section-subheading.text-muted Welcome to Sabai Sabai Thai Massage &amp; Day Spa Located in the heart of Cronulla.
    p We are the ultimate hub for health and well being, offering the best range of quality health services.
      |   If you feel tired from a long day at work or muscle aches, come to see us and enjoy quality relaxation and pampering like you never have before.
    h4 Our Philosophy
    p We aim to create a blissful connection between body, mind and soul.
      |   Our team of experts are professional masseuses with vast experience who all provide high quality services.
    h4 Health Fund Rebates
    p We are accredited to offer health fund rebates for remedial massage.  Please book and inform us in advance to ensure availability.