footer.footer.py-4
    .container
        .row.align-items-center
            .col-lg-4.text-lg-left
                p Open: 10:00 am - 9:00 pm
                p 13/2 Surf Road, Cronulla, NSW 2230
                a.mr-3(href='tel:0295277087') 02 9527 7087
                a(href='tel:0401807691') 0401 807 691
            .col-lg-4.my-3.my-lg-0
                p © SABAI SABAI THAI MASSAGE &amp; DAY SPA 2020
                p ABN 51 311 967 595
                a(data-toggle='modal', href='#privacy') privacy policy
            .col-lg-4.text-lg-right
                a.btn.btn-social.mx-2(href='https://www.facebook.com/sabaisabaithai')
                    img(src=require('../assets/img/logo-facebook.svg'), alt='facebook')
