header.masthead
    .container
        .masthead-subheading Relax your Body, Mind and Soul
        .masthead-heading.text-uppercase Sabai Sabai Thai Massage & Day Spa
        a.btn.btn-primary.btn-xl.text-uppercase.js-scroll-trigger(href='#treatments') See our treatments
