header.masthead
    .container
        .masthead-subheading Sabai Sabai Thai Massage & Day Spa
        .masthead-heading.text-uppercase Special Offer
        .masthead-special.text-uppercase $19 Off*
        a.btn.btn-primary.btn-xl.text-uppercase(href='#special', data-toggle='modal') see terms and conditions
