mixin item(name, href)
    li.nav-item
        a.nav-link.js-scroll-trigger(href=href)= name

nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
    .container
        a.navbar-brand.js-scroll-trigger(href='#page-top')
            img(src='assets/img/navbar-logo.svg', alt='')
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
            | Menu
            i.fas.fa-bars.ml-1
        #navbarResponsive.collapse.navbar-collapse
            ul.navbar-nav.text-uppercase.ml-auto
                +item('Treatments', '#treatments')
                +item('About', '#about')
                +item('Reviews', '#reviews')
                +item('Contact', '#contact')