mixin review(date, img, text)
    .col-sm-4.d-none.d-sm-block.text-right.py-2
        img.mx-auto.rounded-circle(src=img, alt='')
    .col-sm-8.text-left.p-2
        h4= date
        p.text-muted= text
            

section#reviews.page-section.bg-light
    .container
        .text-center
            h2.section-heading.text-uppercase Reviews
            h3.section-subheading.text-muted Leave a review for us on 
                a(href='https://www.facebook.com/pg/Sabaisabaithai/reviews/') Facebook 
        .row
            +review('2019', '/assets/img/treatments/hot-stone-small.jpg', 
                'Walked past with my partner and decided we wanted a massage. They fit us in no worries right away and put us in a room together for a couples massage.'
                + ' It smelt nice inside, the music was calming and the massage was wonderful. The bonus was that it\'s wasn\'t too expensive '
                + 'and we could claim it back from health insurance at the end. Would definitely recommend this place.'
            )
            +review('2019', '/assets/img/treatments/facial-massage-small.jpg', 
                'Me and my boyfriend visited for the first time. I wasn’t expected much as it in tourist center. '
                + 'But we were so impressed of how much effort they gave to the massage. '
                + 'Pressure was on point and hit all the spots. Truly professional authentic Thai massage. '
                + 'Highly recommend this place.'
            )
            +review('2019', '/assets/img/treatments/thai-massage-small.jpg', 
                'Fantastic massage very professional & lovely staff.'
            )
            +review('2020', '/assets/img/treatments/remedial-massage-small.jpg', 
                'Amazing massage experience every time. Very professional and lovely staff.'
            )