#special.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal-dialog-scrollable(role='document')
    .modal-content
      .modal-header.justify-content-center
            h2 Christmas 2020 Special Offer
      .modal-body
        .row.justify-content-center
          .col-lg-8
            p Get $9 off all cash purchases
            p valid between 5th December and 31st December 2020.  Subject to change at our discretion.
      .modal-footer
        button.btn.btn-primary(data-dismiss='modal', type='button')
          span.mr-2(aria-hidden=true) &times;
          | Close

