[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
zappa = "*"
boto3 = "*"
marshmallow = "*"
django-s3-storage = "*"
psycopg2-binary = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.8"
