extends template/layout.pug
block append head
    title Sabai Sabai Thai Massage & Day Spa
block content
        include template/navigation.pug
        include template/header.pug
        include template/treatment-section.pug
        include template/about.pug
        include template/reviews.pug
        include template/contact.pug
        include template/footer.pug
        include template/treatment-modals.pug